{% extends "base.html" %}

{% block title %}
  Create a new Post !!
{% endblock title %}

{% block content %}

<h1>Add Post ...</h1>

{% if  user.is_authenticated %}
 <br><br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Post</button>

</div> 

<script>
  var name = "{{ user.first_name }} {{ user.last_name }}";
  document.getElementById("authorName").value = name;
</script>

{%  else %}

You're not allowed here !!!!(and you know it ...)

{% endif %}

    



  
{% endblock content %}