{% extends "base.html" %}

{% block title %}
  Detail des articles
{% endblock title %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>By : {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }} - 
  {% if user.is_authenticated %}
    {% if post.author.id == user.id %}
      </small><small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small> | <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
    {% endif %}
{% endif %}
<br>
<br>

<hr>
<br>

{{ post.content| safe }}

<br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<br><br>
<hr>
<br>
<form method="POST" action="{% url 'like_post' post.pk %}">

      {% csrf_token %}

      {% if user.is_authenticated %}
        {% if liked %}
          <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
          <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        {% endif %}
      {% else %}
      <small><a href="{% url 'login' %}">Login</a> to like ...</small>  
      {% endif %}

      
        - {{ total_likes }} likes
</form>

{% endblock content %}
