{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark mb-4 shadow">
    <div class="container">
    
      <a class="navbar-brand mr"  href="{% url 'posts:index' %} "> <strong>SOPHROLOGIE</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav right-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts:sophro' %} ">La sophrologie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">La parentalité</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">La relation d'aide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mes prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="  {% url 'posts:portrait' %} ">Mon portrait</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="  {% url 'posts:new_post' %} ">Nouvel article</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>